*.hdf5
*.h5
*.fig
*.pyc
*.ai
*.jpeg
*.tif
*.odt#
*.ncs
*.nev
*.swp
*.tiff
*.npz
*.m~
*.nst
*.clusters
*.t
*.png
*.dat
*.html
*.gif
*.php
*.css
*.JPG
*.pdf
*.aux
*.log
*.tex.bak
*.dvi
*.jpg
*.prn
*.mexw32
*.mexw64
*.dll
*.mexmaci64
*.mexa64
*.mexglx
*.zip
*.svg
*.nex
*.pytorch
*.out
*.gz
*.lof
*.plf
*.toc
*.blg
*.bbl
*.edf
*.hyp
*.idlk
*.pth
*.npy
__pycache__/
.idea/
